.main {
  max-width: 1300px;
  margin: 0 auto;
}
.gif {
}
.buttons {
  display: flex;
  justify-content: space-around;
  margin: auto;
  max-width: 1300px;
  position: absolute;
  gap: 30%;
  top: 70%;
  left: 38%;
}
.btn {
  box-sizing: content-box;
  padding: 15px 30px;
  font-size: 20px;
  background-color: rgb(250, 177, 93);
  border-radius: 7px;
  text-decoration: none;
  color: black;
  transition: all 0.5s;
  text-align: center;
  align-items: center;
  vertical-align: middle;
}
.btn:hover {
  color: black;
  scale: 1.1;
}
.back {
  
}
